* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
}

.TodoList {
  width: 100%;
  margin: 0 auto;
}

.TodoList__head {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #d71920;
}

.TodoList__head .input {
  width: 300px;
  padding: 8px;
}

.TodoList__head button {
  margin-left: 8px;
}

.TodoList__list {
  max-width: 900px;
  margin: 25px auto 0 auto;
  border: 1px solid #ccc;
}

.TodoList .Todo {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  background-color: #EBEEF0;
}

.TodoList Todo:nth-child(even) .Todo {
  background-color: #F0F4F8;
}

.TodoList Todo:last-child .Todo {
  border-bottom: none;
}

.btn,
.input {
  border-radius: 3px;
}

.btn {
  padding: 6px 20px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  color: #fff;
  background-color: #d71920;
}

.btn + .btn {
  margin-left: 5px;
}

.btn.btn--inverted {
  color: #d71920;
  background-color: #fff;
}

.input {
  width: 300px;
  padding: 8px;
  outline: 0;
  border: 1px solid #ccc;
}