* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
}

.todo-container {
  width: 100%;
  margin: 0 auto;
}

.todo-list-head {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #d71920;
}

.todo-list-head input {
  width: 300px;
  padding: 8px;
}

.todo-list-head button {
  margin-left: 8px;
}

.todo-list {
  max-width: 900px;
  margin: 25px auto 0 auto;
  border: 1px solid #ccc;
}

.todo-list .todo {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  background-color: #EBEEF0;
}

.todo-list todo-component:nth-child(even) .todo {
  background-color: #F0F4F8;
}

.todo-list todo-component:last-child .todo {
  border-bottom: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo.done .text {
  text-decoration: line-through;
}

.btn,
.input {
  border-radius: 3px;
}

.btn {
  padding: 6px 20px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  color: #fff;
  background-color: #d71920;
}

.btn.btn-inverted {
  color: #d71920;
  background-color: #fff;
}

.input {
  outline: 0;
  border: 1px solid #ccc;
}